! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! -----------------------------------

Xft.dpi									: 96
Xft.antialias							: true
Xft.hinting							: true
Xft.rightScrollBar 					: rgb
Xft.autohint							: false
Xft.hintstyle							: hintslight
Xft.lcdfilter							: lcddefault

! -
! - URxvt
! -

URxvt.cursorBlink : 1
URxvt.font        					: xft:MesloLGS NF:pixelsize=13:antialias=true,xft:MesloLGS NF
URxvt.boldFont    					: xft:MesloLGS NF:pixelsize=13:weight=bold:antialias=true,xft:MesloLGS NF
URxvt.italicFont  					: xft:MesloLGS NF:pixelsize=13:weight=italic:antialias=true,xft:MesloLGS NF

URxvt.lineSpace           			: 0
URxvt.letterSpace         		: -1
URxvt.scrollBar           			: false
URxvt.internalBorder      		: 32
URxvt.geometry            		: 70x13
URxvt.thickness           			: 5
URxvt.titleBar            			: true
URxvt.intensityStyles     		: false
URxvt.scrollTtyKeypress   	: true
URxvt.scrollTtyOutput     		: true
URxvt.cursorUnderline	  		: true
URxvt*allow_bold		  			: true
URxvt*iso14755			  			: False

! -
! - URxvt Extensions
! -

URxvt.perl-ext-common		: fullscreen,resize-font,matcher,clipboard
URxvt.keysym.F11					: perl:fullscreen:switch
URxvt.keysym.C-Down			: resize-font:smaller
URxvt.keysym.C-Up				: resize-font:bigger
URxvt.url-launcher				: firefox
URxvt.matcher.button			: 1


! -
! - Color
! -

#include 								".xrdb/color/elena"

! -
! - XTerm
! -

xterm*letterSpace					: 0
xterm*faceName 					: xft:MesloLGS NF
xterm*faceSize 					: 10
xterm*internalBorder 			: 32
xterm*vt100*geometry 			: 70x13
xterm*saveLines 					: 16384
xterm*loginShell 					: true
xterm*charClass 					: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName 					: xterm-color
xterm*eightBitInput 				: false


! -
! - UXTerm
! -

UXTerm*termName 				: xterm-256color
UXTerm*VT100.geometry		: 70x13
UXTerm*faceName           	: xft:MesloLGS NF
UXTerm*faceSize		   			: 10
UXTerm*dynamicColors     	: true
UXTerm*utf8               			: 2
UXTerm*eightBitInput      		: true
UXTerm*saveLines          		: 16384
UXTerm*scrollKey          		: true
UXTerm*scrollTtyOutput    	: false
UXTerm*scrollBar          		: false
UXTerm*rightScrollBar     		: false
UXTerm*jumpScroll         		: true
UXTerm*multiScroll        		: true
UXTerm*toolBar            		: false
UXTerm*boldMode 				: false
UXTerm*colorBDMode 			: true
UXTerm*colorBD 					: rgb:3f/3f/3f
