! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! -----------------------------------
Xft.dpi: 102
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! ===== urxvt =====
URxvt.cursorBlink : 1
URxvt.font        : xft:Pragmatapro:pixelsize=13:antialias=true,xft:Pragmatapro
URxvt.italicFont  : xft:Pragmatapro:pixelsize=13:weight=bold:antialias=true,xft:Pragmatapro

URxvt.lineSpace           : 0
URxvt.letterSpace         : -1
URxvt.scrollBar           : false
URxvt.internalBorder      : 32
URxvt.geometry            : 75x13
URxvt.thickness           : 5
URxvt.titleBar            : true
URxvt.intensityStyles     : false
URxvt.scrollTtyKeypress   : true
URxvt.scrollTtyOutput     : true
URxvt.cursorUnderline	  : true
URxvt*allow_bold		  : true
URxvt*iso14755			  : False




!!EXTENSION
URxvt.perl-ext-common		: fullscreen,resize-font,matcher,clipboard
URxvt.keysym.F11			: perl:fullscreen:switch
URxvt.keysym.C-Down			: resize-font:smaller
URxvt.keysym.C-Up			: resize-font:bigger
URxvt.url-launcher			: firefox
URxvt.matcher.button		: 1


! =================
!*background:	#1D1F28
!*foreground:	#FDFDFD
!*cursorColor:	#C574DD
!*color0:	#282A36
!*color1:	#F37F97
!*color2:	#5ADECD
!*color3:	#F2A272
!*color4:	#8897F4
!*color5:	#C574DD
!*color6:	#79E6F3
!*color7:	#FDFDFD
!*color8:	#414458
!*color9:	#FF4971
!*color10:	#18E3C8
!*color11:	#FF8037
!*color12:	#556FFF
!*color13:	#B043D1
!*color14:	#3FDCEE
!*color15:	#BEBEC1

!Term color
#include ".xrdb/color/onedark"

! ------------------------------------------------------------------------------
!									 XTerm
! -----	--------------------------------------------------------------------------
XTerm*letterSpace:-1
XTerm*faceName: xft:Pragmatapro
xterm*faceSize: 9
xterm*internalBorder: 20
xterm*vt100*geometry: 70x13
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

UXTerm*termName: xterm-256color
UXTerm*VT100.geometry:     92x17
UXTerm*faceName:           xft:Pragmatapro
UXTerm*faceSize:		   9
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          10000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:3f/3f/3f
