@import "parts/toolbox.css";
@import "parts/buttons.css";
@import "parts/entries.css";
@import "parts/headerbar.css";
@import "parts/csd.css";
@import "parts/titlebutton-light.css";
@import "parts/titlebutton-dark.css";
@import "parts/popups.css";
@import "parts/tabsbar.css";
@import "parts/findbar.css";
@import "parts/scrollbars.css";
@import "parts/remove-white-flash.css";
@import "parts/custom-icons.css";
@import "parts/icons.css";
@import "colors/light.css";
@import "colors/dark.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */
input#urlbar-input {
	caret-color: transparent !important;
	width: 99999px !important;
	text-align: center !important;
	font-weight: var(--urlbar-text-weight) !important;
	font-family: var(--urlbar-text-font) !important;
	font-size: var(--urlbar-text-size) !important;
}
